<html>

{{> common/head}}

<body>
<div class="container">
    {{> common/header}}
    {{> common/nav-bar}}
    <div class="content">
        <div class="main">
            <p>Home page</p>
        </div>
        {{this}}
    </div>
    {{> common/footer}}
</div>
</body>

</html>

